@media only screen and (max-width: 480px) {
    body {
      background-color: lightblue; 
    }
    

    h1 {
        font-size: 35px;
        text-align: center;
        margin-top: 50px;
    }
    
    .intro {
        margin-left: 40px;;
        color:grey;
    }

    .strArea {
        font-style: italic;
        margin: 20px;
        text-align: center;
        
    }
    
    .userInput {
        margin: 0 auto;
        display: block;
        color: black;
        font-size: 20px;
        width: 90%;
        height: 35px;
        border-radius: 20px;
        border: 1px solid black;
        margin-top: 59px;
        margin-bottom: 10px;
        text-align: center;
       
     }
    
     .inline { 
        float:left;
     }

    .searchButton {
    
        margin: 0 auto;
        display: block;
        font-size: 18px;
        border-radius: 20px;
        background-color: rgb(245, 203, 213);
        width: 100px;
        height: 40px;
    
    }

    .recipe {
      background-color: white;
      border-radius: 10px;
      padding: 10px;
      margin: 10px;
      
    }

    .meals {

        font-size:20px;
        text-align: center;
        border-radius: 20px;
        width: 70%;
        height: 20px;
        padding-top: 10px;
        padding-bottom: 20px;
        margin: 0 auto;
        display: block;
       
    }

    .ingarea {
        background-color: whitesmoke;
       
    }

     .ingred1  {
        display:inline-flex; 
        margin:20px; 
    }
    .ingred2 {
        display: inline-flex; 
        margin:20px; 
    }
    .ingred3 {
        display: inline-flex; 
        margin:20px; 
    }
    .ingred4 {
        display: inline-flex; 
        margin:20px; 
    }
    .ingred5 {
        display: inline-flex; 
        margin:20px; 
    } 
    .ingred6 {
        display: inline-flex; 
        margin:20px;  
    }
    .ingred7 {
        display: inline-flex; 
        margin:20px; 
    }
    .ingred8 {
        display: inline-flex; 
        margin:20px; 
    }
    .ingred9 {
        display: inline-flex; 
        margin:20px;  
    }
    .ingred10 {
        display: inline-flex; 
        margin:20px; 
    }
    .ingred11 {
        display: inline-flex; 
        margin:20px;  
    }
    .ingred12 {
        display: inline-flex; 
        margin:20px;  
    }
    .ingred13 {
        display: inline-flex; 
        margin:20px;  
    }
    .ingred14 {
        display: inline-flex; 
        margin:20px;  
    }
    .ingred15 {
        display: inline-flex; 
        margin:20px;  
    }
    .ingred16 {
        display: inline-flex; 
        margin:20px;  
    }
    .ingred17 {
        display: inline-flex; 
        margin:20px;  
    }
    .ingred18 {
        display: inline-flex; 
        margin:20px;  
    }
    .ingred19 {
        display: inline-flex; 
        margin:20px; 
    }
    .ingred20 {
        display: inline-flex; 
        margin:20px; 
    }
    
    .instarea{
        background-color: whitesmoke;
    }

    .instructions {
        font-size: 17px;
        margin: 20px;
        text-align: justify;
        background-color: whitesmoke;

    }

    .img1 {
        margin-top: 35px;
        display: block;
        margin-left:45%;
        width: 45%;
        border-image: linear-gradient(#f6b73c, #4d9f0c) 30;
        box-shadow: 26px 26px 51px 0 purple, -26px -26px 51px 0 pink; 
    
    }

    .picture {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 40%;
        border: 1px solid black;
    }

    #open, #close {
        background-color: bisque;
        text-align: center;
        border-radius: 20px;
        width: 70%;
        height: 20px;
        padding:2px;
        margin: 0 auto;
        display: block;
        border: 1px solid black;
    }


    #opens, #closes {
        background-color: bisque;
        text-align: center;
        border-radius: 20px;
        width: 70%;
        height: 20px;
        padding:2px;
        padding-top: 3px;
        margin: 0 auto;
        display: block;
        border: 1px solid black;
    }

    

  }

  @media only screen and (min-width: 481px) {
    
    body {
        background-color: lightblue; 
      }
  
      h1 {
          font-size: 55px;
          text-align: center;
          margin-top: 40px;
      }
      
      .intro {
        
          margin-left: 35%;
          margin-top:5%;
          color:grey;
          font-size: 19px;
      }
  
      .strArea {
          font-style: italic;
          text-align: center;
      }
      
      .userInput {
          margin: 0 auto;
          display: block;
          color: black;
          font-size: 20px;
          width: 90%;
          height: 50px;
          border-radius: 20px;
          border: 1px solid black;
          margin-top: 59px;
          text-align: center;
         
       }
      
       .inline { 
          float:left;
       }
  
      .searchButton {
          margin: 0 auto;
          display: block;
          font-size: 18px;
          border-radius: 20px;
          background-color: rgb(245, 203, 213);
          width: 150px;
          height: 50px;
          margin-top: 10px;
          
      }
  
      .recipe {
        background-color: white;
        border-radius: 10px;
        padding: 10px;
        margin: 10px;
        
      }
  
      .meals {
        font-size: 25px;
        text-align: center;
        border-radius: 20px;
        width: 70%;
        height: 20px;
        padding:20px;
        margin: 0 auto;
        display: block;
      }
    
      .strArea {
          margin: 20px;
          font-size:18px ;
          text-align: center;
  
      }
  
  
      .img1 {
          margin-top: 35px;
          display: block;
          margin-left:55%;
          width: 30%;
          border-image: linear-gradient(#f6b73c, #4d9f0c) 30;
          box-shadow: 26px 26px 51px 0 purple, -26px -26px 51px 0 pink; 
      
      }
  
      .picture {
          display: block;
          margin-top:20px;
          margin-left: auto;
          margin-right: auto;
          width: 20%;
          border: 1px solid black;
        
      }


    .ingarea {
        background-color: whitesmoke;
        display:inline-flexbox;
        margin:20px; 
    }
    

    .ingred1 {
        display:inline-flex; 
        margin:20px; 
    }
    .ingred2 {
        display: inline-flex; 
        margin:20px; 
    }
    .ingred3 {
        display: inline-flex; 
        margin:20px; 
    }
    .ingred4 {
        display: inline-flex; 
        margin:20px; 
    }
    .ingred5 {
        display: inline-flex; 
        margin:20px;  
    }
    .ingred6 {
        display: inline-flex; 
        margin:20px;  
    }
    .ingred7 {
        display: inline-flex; 
        margin:20px; 
    }
    .ingred8 {
        display: inline-flex; 
        margin:20px; 
    }
    .ingred9 {
        display: inline-flex; 
        margin:20px;  
    }
    .ingred10 {
        display: inline-flex; 
        margin:20px; 
    }
    .ingred11 {
        display: inline-flex; 
        margin:20px;  
    }
    .ingred12 {
        display: inline-flex; 
        margin:20px;  
    }
    .ingred13 {
        display: inline-flex; 
        margin:20px;  
    }
    .ingred14 {
        display: inline-flex; 
        margin:20px;  
    }
    .ingred15 {
        display: inline-flex; 
        margin:20px;  
    }
    .ingred16 {
        display: inline-flex; 
        margin:20px;
    }
    .ingred17 {
        display: inline-flex; 
        margin:20px;  
    }
    .ingred18 {
        display: inline-flex; 
        margin:20px;  
    }
    .ingred19 {
        display: inline-flex; 
        margin:20px; 
    }
    .ingred20 {
        display: inline-flex; 
        margin:20px; 
    }
    
    .instarea{
        background-color: whitesmoke;
    }

    .instructions {
        font-size: 17px;
        margin: 20px;
        text-align: justify;
        background-color: whitesmoke;
    }

    #open, #close {
        font-size: 20px;
        background-color: bisque;
        text-align: center;
        border-radius: 20px;
        width: 50%;
        height: 20px;
        padding:2px;
        margin: 0 auto;
        display: block;
        border: 1px solid black;
       
    }


    #opens, #closes {
        font-size: 20px;
        background-color: bisque;
        text-align: center;
        border-radius: 20px;
        width: 50%;
        height: 20px;
        padding:2px;
        margin: 0 auto;
        display: block;
        border: 1px solid black;
        
    }



      
}


